html, body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

canvas {
  display: block;
}

#sketch-title
{
  font-family: "Bitcount Prop Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
